<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta charset="ISO-8859-1">
<title>Voting App</title>

<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
	crossorigin="anonymous">

</head>
<body class="bg-light">
	<!-- create navigation bar ( header) -->
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed"
					data-toggle="collapse" data-target="#navbar" aria-expanded="false"
					aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#" th:href="@{/}">Registration and
					Login Module Voting App</a>
			</div>
			<div id="navbar" class="collapse navbar-collapse">
				<ul class="nav navbar-nav">
					<li sec:authorize="isAuthenticated()"><a th:href="@{/logout}">Logout</a></li>
				</ul>
			</div>
		</div>
	</nav>

	<br>
	
	<br>

	<div class="container">
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<div class="card">
					<div class="card-body">

						<h1 class="text-center">Voting List</h1>

						<form >
							<span class="radio">
							<input type="radio" name="vote"
								value="condidate_1" />Candidate_1</span><br /> 
								<span class="radio"><input
								type="radio" name="vote" value="condidate_2" />Candidate_2</span><br />
								
							<span class="radio">
							<input type="radio" name="vote"
								value="condidate_3" />Candidate_3</span><br /> 
								<span
								class="radio">
								<input type="radio" name="vote"	value="condidate_4" />Candidate_4</span>
 
							<button type="submit" class="btn btn-primary">Vote</button>
						</form>

					<h1>	Welcome <span sec:authentication="principal.username"> User
					</h1>
					</span>
						
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
